html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #fff0d6;
  color: #2243b6;
  background-image: url(https://media.istockphoto.com/vectors/seamless-texture-city-map-in-retro-style-outline-map-vector-id1151367251?k=20&m=1151367251&s=612x612&w=0&h=LrTD4lIrKxTerzKbvY9i0C7uCWf92g124_WlT_zOhbg=);
  font-family: "Lilita One", cursive;
}

.heading {
  color: #2243b6;
  text-align: center;
  margin: 25px 100px;
  background-color: #fff0d6;
  border: 3px solid #2243b6;
  padding: 25px 25px;
  border-radius: 30px;
  font-size: 5rem;
}

.subheading {
  font-size: 3rem;
  margin: 25px 205px;
}

.img-paragraph {
  font-size: 1.5rem;
}

.location-link {
  font-size: 2rem;
}

#center {
  text-align: center;
}

.location-title {
  font-size: 2rem;
}

.location-box {
  height: 28%;
  width: 28%;
  background: #fff0d6;
  border-radius: 30px;
  border: 3px solid #2243b6;
  padding: 15px;
  margin: 15px 30px;
  display: block;
  margin: auto;
  margin-top: 30px;
  box-shadow: 12px 12px 1px 1px #506dd4;
}

.location-img {
  padding-left: 10%;
  width: 90%;
  height: 90%;
  align-items: center;
  justify-content: center;
  object-position: 50% 50%;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 2rem;
  align-items: center;
  flex-direction: row;
  margin-bottom: 50px;
}

.animation {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button-1{
  transition: all 0.3s
}
.button-1:hover {
transform: scale(1.2);
}

.button-2{
transition: all .2s;
}

.button-2:hover{
  background-color: blue;
}

.child-4 {
}

.child-5 {
}

.child-6 {
}

.child-7 {
}

.child-8 {
}

.child-9 {
}
