html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #fff0d6;
  color: #2243b6;
  background-image: url(https://media.istockphoto.com/vectors/seamless-texture-city-map-in-retro-style-outline-map-vector-id1151367251?k=20&m=1151367251&s=612x612&w=0&h=LrTD4lIrKxTerzKbvY9i0C7uCWf92g124_WlT_zOhbg=);
  font-family: "Lilita One", cursive;
}

.heading {
  color: #2243b6;
  text-align: center;
  margin: 25px 100px;
  background-color: #fff0d6;
  border: 3px solid #2243b6;
  padding: 25px 25px;
  border-radius: 30px;
  font-size: 5rem;
}

.heading-animation{
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.fade {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.fade:before{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2243b6;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.fade:hover, .fade:focus, .fade:active {
  color: #fff0d6;
}

.subheading {
  font-size: 3rem;
  margin: 25px 205px;
}

.img-paragraph {
  font-size: 1.5rem;
}

.location-link {
  font-size: 2rem;
}

#center {
  text-align: center;
}

.location-title {
  font-size: 2rem;
}

.location-box {
  height: 28%;
  width: 28%;
  background: #fff0d6;
  border-radius: 30px;
  border: 3px solid #2243b6;
  padding: 15px;
  margin: 15px 30px;
  display: block;
  margin: auto;
  margin-top: 30px;
  box-shadow: 12px 12px 1px 1px #506dd4;
}

.location-img {
  padding-left: 10%;
  width: 90%;
  height: 90%;
  align-items: center;
  justify-content: center;
  object-position: 50% 50%;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 2rem;
  align-items: center;
  flex-direction: row;
  margin-bottom: 50px;
}

.animation {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transition: all 0.3s;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animation:hover {
  transition: all 0.3s;
  animation-iteration-count: 0;
}

.button-1 {
  transition: all 0.3s;
}
.button-1:hover {
  transform: scale(1.2);
}

.button-2 {
  transition: all 0.3s;
}

.button-2:hover {
  background-color: rgb(253, 202, 234);
}

.button-3: {
  transition: all 0.3s;
}

.button-3:hover {
  box-shadow: inset 1rem 1rem #506dd4;
}

.button-4 {
  transition: all 0.3s;
}

.button-4:hover {
  transform: rotate(15deg);
}

.button-5 {
  animation name: hvr-wobble-top;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
@-webkit-keyframes hvr-wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

.button-5:hover, .button-5:focus, .button-5:active {
  -webkit-animation-name: hvr-wobble-top;
  animation-name: hvr-wobble-top;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.button-6 {
}

.button-7 {
}

.button-8 {
}
